*{
    color:white;
    font-size: 20px;
}

input[type="text"],input[type="email"],input[type="tel"],select[name="City"], textarea{
    width: 100%;
}


form{
    width: 50%;
    height: 50%;
    background-color: #213b50;
    padding: 10px;
    position: relative;
}


input, textarea, select, textarea{
    background-color: #2b4a64;
    border-style: none;
    margin-bottom: 2%;
}

select:focus,input:focus, textarea:focus{
    background-color: #4e708c;
    border: solid 1px;
    border-color: #ffffff;
}


#styl{
    position: absolute;
    width: 30%
}

input[type="submit"]{
    background-color: greenyellow;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2% 3% 2% 3%;
}


