*{
    box-sizing: border-box;
}
body{
    font-size: 0px;
}
.box{
    font-size: 16px;
    width: 25%;
    height: 500px;
    padding: 50px;
    float: left;
    border: 10px solid orange;
}
@media (max-width: 992px){
    .box{
        width:50%;
    }
}
@media all and (min-width: 786px) and (max-width: 786px){
    .box{
        width:100%;
    }
}
