*{
    color: violet;
}
#p1::before{
    content: "Przed elementem :)";
    color: green;
    font-weight: bold;
}
#p2::after{
    content: " Za elementem :)";
    color: red;
}
#p3::first-letter{
    color: deeppink;
    text-transform: uppercase;
}
#p4::first-line{
    background-color: yellow;
}
#p5::selection{
    background-color: blue;
}
a{
    text-decoration: none;
}
a:link{
    background-color: blueviolet;
}
a:visited{
    color:orange;
}
a:hover{
    text-decoration: underline;
}
/*a:active{
    font-weight: bold;
}
a:focus{
    color: firebrick;
}
*/
#p1:target{
    display: none;
}

p:lang(pl){
    font-style: italic;
    color: yellow;
}
div.klient:nth-child(odd){
    background-color: beige;
}
div.klient:nth-child(even){
    background-color: hotpink;
}
div.klient:first-child{
    background-color: white;
}

div.klient:nth-child(5n+4){
    background-color: black;
}